<div>
    <div id="nav-placeholder"> 

    </div>
</div>

<div class="bg">
    <img src="/images/computerLab.jpg">
</div>
<div class="flexContainer">
    
    <aside>
        <div>
            <h1> Filters </h1>
        </div>
        <hr>
        <div class="searchFilterContainer selected" id="room">
            <img class="filterIcons" src="/images/home.png">   
            <h4>Room</h4>
        </div>
        <div class="searchFilterContainer" id = "people">
            <img class="filterIcons" src="/images/people.png">   
            <h4>People</h4>
        </div>
        <div class="searchFilterContainer" id ='tags'>
            <img class="filterIcons" src="/images/tags.png">   
            <h4>Tags</h4>
        </div>
        <div class="searchFilterContainer" id ='etc'>
            <img class="filterIcons" src="/images/more.png">   
            <h4>etc</h4>
        </div>

        
    </aside>
    
   
    <div class ="flexParent">
    <div class ="flexParent" id="labContainer">

        {{#each labs}}
        <div class="laboratoryContainer" onclick="window.location.href = '/labs/{{_id}}'">
            
            <div class="heading">
                <h1> Laboratory: {{roomNum}} </h1>
            </div>

            <div class="laboratoryDetailsContainer">
                <div class="laboratoryDetails">
                    <h2> Total Seats: {{totalSeats}}</h2>
                    <h2> Building: {{building}}</h2>
                    <h2> Floor: {{floor}}</h2>
                </div>
                <div class="laboratoryDetails">
                    <h2> Time Start: {{timeStart}}</h2>
                    <h2> Time End: {{timeEnd}}</h2>
                    <h2> Tags: {{tags}}</h2>
                </div>
            </div>
        </div>
        {{/each}}

        </div>

        <div class="peopleContainer">
            
        </div>

        

        

        <span class="nextPage">
            <div class="nextPage"><button id="backBtn">Back</button></div>
            <div class="nextPage"><button id="nextBtn">Next</button></div>
        </span>



    </div>
</div>