<link rel="stylesheet" href="/common/profile.css">
<script src="/common/profile.js"></script>

<main>
        <img id="prof-pic" src="/images/pfps/{{user.pfp}}">
        <h1 id="name">{{user.username}}</h1>
        <p id="bio">{{user.bio}}</p>
        <div id="prof-buttons-div">
            <form action="edit-profile" method="get">
                <button type="submit">Edit profile</button>
            </form>
            <button type="button" class="delete" id="del-prof-confirm">Delete profile</button>
        </div>
        <h2>Current Reservations:</h2>

        {{#each reserves}}
        <details>
            <summary>{{room}} - {{bookDateShortVerbose}} {{timeFrame}}</summary>
            <p>Laboratory: {{room}}</p>
            <p>Seat Number: {{seat}}</p>
            <p>Reservation: {{bookDateVerbose}} {{timeFrame}}</p>
            <p>Requested: {{dateLogged}} {{timeLogged}}</p>
            <div id="resv-buttons-div">

                <form action="/editReservation" method="get">
                    <button type="submit" value="{{room}}" name="roomNum" id="roomNum">Edit Reservation</button>
                </form>

                <button type="button" class="delete" id="del-resv-confirm">Delete Reservation</button>
            </div>
        </details>
        {{/each}}

        <div class="confirm" id="del-prof">
            <p class="message" id="del-prof-msg">Confirm delete profile?</p>
            <button class="delete" id="del-prof-btn">Proceed</button>
            <button id="save-prof-btn">Cancel</button>
        </div>
        <div class="confirm" id="del-resv">
            <p class="message" id="del-resv-msg">Confirm delete reservation?</p>
            <button class="delete" id="del-resv-btn">Proceed</button>
            <button id="save-resv-btn">Cancel</button>
        </div>
    </main>